@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>Use this website to perform CRUD operations on 2 entityes Contacts and Concet Halls.</p><br>
<p>This website was developed by Smit Ashok Gabani as to learn ASP.NET and complete assignment 1 of WEB 524.for Summer 2022</p><br>
