@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Seneca College<br />
    Newnham Campus<br /><br />
    Smit Ashok Gabani<br />
    seneca mail - sagabani@myseneca.ca
</address>

<address>
    
</address>