@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 style="font-size:40px">Assignment 1 - sagabani</h1>
    <p class="lead">This web app made using asp.net technology is made to learn the basic CRUD operation. We have two entities on which we perform CRUD Customers and Venus</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Customers</h2>
        <p>
            
        </p>        
    </div>
    <div class="col-md-4">
        <h2>Venues</h2>
        
    </div>
    <div class="col-md-4">
        <h2>Challenges</h2>
        
    </div>
</div>