@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Music Biz</h1>
    <p class="lead">Create and Read on self created entity diagrams .</p>
    <p><a href="https://sagabani-wa-web524-a5.azurewebsites.net/" target="_blank" class="btn btn-primary btn-lg">More info &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Issues</h2>
        <p>May face unknown issues wile adding an album.</p>        
    </div>
    <div class="col-md-4">
        <h2>Done </h2>        
        <p>You can add Tracks and artist for sure.</p>
    </div>
    <div class="col-md-4">
        <h2>Login Details </h2>
        <p>Email: admin@example.com</p>
        <p>Password: Password@123</p>        
    </div>
</div>