@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    Smit Ashok Gabani<br />
    sagabani 115541200<br />      
</address>

<address>
    <strong>Contact:</strong>   <a href="mailto:sagabani@myseneca.ca">sagabani.myseneca.ca</a><br />    
</address>