@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tracks and Invoicing</h1>
    <p class="lead">Developed as an assignemnt for WEB524 and learning ASP.NET..</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        
    </div>
    <div class="col-md-4">
        
    </div>
</div>